@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.2px;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

h2 {
  padding: 2%;
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}
h2 a {
  color: #000;
}

header {
  background-color: #e4d7d7;
  height: 9rem;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 2%;
  gap: 20px;
  flex-wrap: wrap;
}
nav a {
  background-color: rgb(228, 198, 213);
  border: 2px solid rgb(164, 178, 193);
}

header nav {
  background-color: #e4d7d7;
  font-size: 20px;
}

header nav a {
  color: black;
  text-decoration: none;
  transition: color 0.25s ease;
}
header nav a:hover {
  color: #0ba2c0;
}

main {
  background-color: rgb(250, 248, 246);
}
.img-text {
  display: flex;
  gap: 15%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4% 0;
}
.text {
  width: 350px;
  text-align: center;
  padding-top: 3%;
}
.text span {
  font-weight: bold;
  font-size: 20px;
  color: #201886;
}

.img-text img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}
.images {
  height: 350px;
  width: 350px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px #000;
}

footer {
  margin-top: 20px;
  padding-top: 5px;
  text-align: center;
  background-color: #e4d7d7;
  height: 130px;
  border-top: 1px solid rgb(0, 0, 0);
}

footer h3 {
  padding-top: 15px;
}
footer p {
  padding-top: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
}

footer button {
  width: 100px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px #000;
}
button a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

button:hover {
  background-color: white;
}

footer i {
  margin: 10px 5px;
  font-size: 30px;
  color: #000;
}

@media (min-width: 500px) and (max-width: 800px) {
  header {
    height: fit-content;
    padding-bottom: 5px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    text-align: center;
    position: relative;
  }

  header nav {
    position: relative;
    max-width: 600px;
    min-width: 300px;
  }
  header nav a {
    position: relative;
  }

  .img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    text-align: center;
  }

  .images {
    width: 280px;
    height: 280px;
  }
}
